@model RoomMate.Entities.UserProfileViewModels.UserProfileToDisplayViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

<div class="main-header" style="height: 90.5vh;">

    <div class="background-shadow"></div>
    <div class="center-modal close-delete-modal">
        <div class="modal" id="modal-delete">

            <div class="modal-header" id="modal-header-delete">
                <h2>Usuwanie</h2>
                <a href="#" class="modal-dismiss close-delete-modal"><i class="text-dark fas fa-times p-2"></i></a>
            </div>

            <div class="modal-body">
                <div class="modal-row-delete">
                    <h2>Potwierdzenie</h2>
                    <p>Na pewno chcesz usunąć te zakwaterowanie?</p>
                </div>
            </div>

            <div class="modal-footer">
                <button id="button-cancel" class="close-delete-modal">Anuluj</button>
                @using (Html.BeginForm("Delete", "Profile"))
                {
                    <button id="button-delete">Usuń</button>
                }
            </div>

        </div>
    </div>

    <div class="main-container">
        <div class="vertical-nav">
            <div class="vertical-user-photo">
                <img src="/../Content/IMAGE/profile_none.png" />
                <p>
                    @Html.DisplayFor(model => model.user.FirsName)
                    @Html.DisplayFor(model => model.user.LastName)
                </p>
            </div>
            <ul>
                <li class="active">
                    <i class="fas fa-home"></i><a class="active" href="#">Menu</a>
                </li>
                <li>
                    <i class="fas fa-plus"></i><a href="@Url.Action("AddRoom", "UserProfile")">Nowy nocleg</a>
                </li>
                <li>
                    <i class="fas fa-suitcase"></i><a href="@Url.Action("Customers", "UserProfile")">Rezerwacje</a>
                </li>
            </ul>
        </div>

        <div class="profile-user-container">


            <div class="profile-container">
                <h2>Menu</h2>

                <div class="profile-container-flex">
                    <div class="profile-container-div profile-user">

                        <div class="profile-heading">
                            <h3>Konto użytkownika</h3>
                            <i class="far fa-edit toClick" id="editUser"></i>
                            <i class="far fa-times-circle toClick" id="cancelEditUser"></i>
                        </div>
                        <div class="profile-body">
                            <div class="profile-body-img">
                                <img src="/../Content/Image/profile_none.png" />
                            </div>
                            <div style="width:90%">
                                <div class="profile-body-txt" id="displayUserInformation">

                                    <div class="row">
                                        <label>Imię:</label>  <p>@Html.DisplayFor(model => model.user.FirsName)</p>
                                    </div>

                                    <div class="row">
                                        <label>Nazwisko:</label>  <p>@Html.DisplayFor(model => model.user.LastName)</p>
                                    </div>

                                </div>

                                <div class="profile-body-txt" id="editUserInformation">

                                    <div class="row">
                                        <label>Imię:</label>  <p></p>
                                    </div>

                                    <div class="row">
                                        <label>Nazwisko:</label>  <p></p>
                                    </div>


                                    <div style="display:block;">
                                        <button class="profile-save-btn">Zapisz</button>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="profile-container-div profile-information">
                        <div class="profile-information-img">
                            <i class="fas fa-home"></i>
                        </div>
                        <h2>@Model.rooms.Count</h2>
                        <p>Liczba Twoich zakwaterowań</p>
                    </div>

                    <div class="profile-container-div profile-information">
                        <div class="profile-information-img">
                            <i class="fas fa-suitcase"></i>
                        </div>
                        <h2>0</h2>
                        <p>Liczba zrealizowanych rezerwacji</p>
                    </div>

                </div>

                <div class="profile-container-div profile-container-accommodation">
                    <div class="profile-heading">
                        <h3>Zakwaterowania:</h3>
                        <a href="@Url.Action("AddRoom", "UserProfile")">
                            <i class="far fa-plus-square toClick"></i>
                        </a>
                    </div>
                    @if (Model.rooms.Count == 0)
                    {
                        <div class="profile-container-accommodation-row">
                            <p>Nie masz jeszcze stworzonego żadnego zakwaterowania.</p>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model.rooms)
                        {
                            <div class="profile-container-accommodation-row">
                                <div style="min-width: 750px;">
                                    <div>
                                        <div class="profile-container-accommodation-img">
                                            @{ var roomImage = Model.roomImages.Where(x => x.Room.RoomID == item.RoomID).FirstOrDefault();}
                                            @if (roomImage != null) {
                                            <img src="@Url.Content(roomImage.Path)">
                                            }
                                            else
                                            {
                                            <img src="~/Content/Image/no-image.png">
                                            }
                                        </div>
                                    </div>

                                    <div class="profile-container-accommodation-description">
                                        <p class="bold-txt">@Html.DisplayFor(model => item.Name)</p>
                                        <p>
                                            @Html.DisplayFor(model => item.Address.City)
                                            @Html.DisplayFor(model => item.Address.Street)
                                            @Html.DisplayFor(model => item.Address.Flat)
                                            @Html.DisplayFor(model => item.Address.PostCode)
                                        </p>
                                    </div>
                                </div>
                                <div class="profile-container-accommodation-icon">

                                    <a href="@Url.Action("DisplayRoom", "UserProfile", new { id = item.RoomID })">
                                        <i class="far fa-question-circle toClick"></i>
                                    </a>

                                    <i class="far fa-trash-alt toClick delete-modal" id="@item.RoomID "></i>
                                </div>
                            </div>
                        }
                    }
                </div>


            </div>

        </div>
    </div>

</div>

<script src="~/Content/Scripts/ProfileUserScripts.js"></script>
