@model RoomMate.Entities.UserProfileViewModels.UserProfileToDisplayViewModel
@{
    ViewBag.Title = "DisplayRoom";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
<div class="main-header" style="height: 93vh;">


    <div class="main-container">
        <div class="vertical-nav">
            <div class="vertical-user-photo">
                <img src="/../Content/Image/profile_none.png" />
                <p>
                    @Html.DisplayFor(model => model.user.FirsName)
                    @Html.DisplayFor(model => model.user.LastName)
                </p>
            </div>
            <ul>
                <li>
                    <i class="fas fa-home"></i><a href="@Url.Action("Dashboard", "UserProfile")">Menu</a>
                </li>
                <li class="active">
                    <i class="fas fa-plus"></i><a class="active" href="@Url.Action("AddRoom", "UserProfile")">Nowy nocleg</a>
                </li>
                <li>
                    <i class="fas fa-suitcase"></i><a href="@Url.Action("Customers", "UserProfile")">Rezerwacje</a>
                </li>
            </ul>
        </div>

        <div class="profile-user-container">


            <div class="profile-container">

                <h2>Informacje o noclegu</h2>

                <div class="add-room-container">
                    <div class="profile-container-div profile-add-room">
                        <div class="profile-heading">
                            <h3>@Html.DisplayFor(model => model.room.Name)</h3>
                            <a href="@Url.Action("EditRoom", "Profile", new {  id = Url.RequestContext.RouteData.Values["id"] })">
                                <i class="far fa-edit"></i>
                            </a>
                        </div>

                        <div class="add-room-img">
                            @if (Model.room.RoomImages != null && Model.room.RoomImages.Any())
                            {
                                foreach (var image in Model.room.RoomImages)
                                {
                                    <img src="@Url.Content(image.Path)">
                                }
                            }
                            else
                            {
                                <img src="~/Content/Image/no-image.png">
                            }

                        </div>

                        <div class="add-room-txt-container">

                            <div class="max-height-div">
                                <p class="bold-txt">Opis zakwaterowania:</p>
                                <p>
                                    @Html.DisplayFor(model => model.room.Description)
                                </p>
                            </div>

                            <div class="max-height-div">
                                <p class="bold-txt">Wyposażenie zakwaterowania:</p>

                                <div class="equipment-container-searching">
                                    @if (Model.room.Equipment.IsWifi)
                                    {
                                        <div class="equipment-item">
                                            <p><i class="fas fa-wifi"></i>WIFI</p>
                                        </div>
                                    }
                                    @if (Model.room.Equipment.IsAirConditioning)
                                    {
                                        <div class="equipment-item">
                                            <p><i class="fas fa-fan"></i>Klimatyzacja</p>
                                        </div>
                                    }
                                    @if (Model.room.Equipment.IsParking)
                                    {
                                        <div class="equipment-item">
                                            <p><i class="fas fa-parking"></i>Parking</p>
                                        </div>
                                    }
                                    @if (Model.room.Equipment.IsKitchen)
                                    {
                                        <div class="equipment-item">
                                            <p><i class="fas fa-utensils"></i>Kuchnia</p>
                                        </div>
                                    }
                                    @if (Model.room.Equipment.IsTelevision)
                                    {
                                        <div class="equipment-item">
                                            <p><i class="fas fa-tv"></i>Telewizja</p>
                                        </div>
                                    }
                                    @if (Model.room.Equipment.IsWashingMachine)
                                    {
                                        <div class="equipment-item">
                                            <p><i class="fas fa-tshirt"></i>Pralka</p>
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="max-height-div">
                                <p class="bold-txt">Szczegóły zakwaterowania:</p>
                                <div class="add-rom-row">
                                    <label>Liczba gości</label>   <p>@Html.DisplayFor(model => model.room.NumberOfGuests)</p>
                                </div>
                                <div class="add-rom-row">
                                    <label>Cena za noc:</label>  <p>@Html.DisplayFor(model => model.room.Price) zł</p>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="profile-container-div profile-add-room-map">
                        <div class="profile-heading">
                            <h3>
                                Lokalizacja
                            </h3>
                        </div>
                        <div class="add-room-flex">
                            <div class="address-txt-map">
                                <p class="bold-txt" id="address-part-one">
                                    @Html.DisplayFor(model => model.room.Address.City)
                                </p>
                                <p id="address-part-two">
                                    @Html.DisplayFor(model => model.room.Address.Street)
                                    @Html.DisplayFor(model => model.room.Address.Flat)
                                    @Html.DisplayFor(model => model.room.Address.PostCode)
                                </p>
                            </div>
                            <div class="address-map">
                                @Html.HiddenFor(model => model.room.Address.Lat)
                                @Html.HiddenFor(model => model.room.Address.Lon)
                                <div id="map" class="map"></div>
                                <div id="popup" class="ol-popup">
                                    <div id="popup-content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<script>
     var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([37.41, 8.82]),
          zoom: 0
        })
     });
</script>

<script src="~/Content/Scripts/ProfileUserScripts.js"></script>





