@model RoomMate.Entities.UsersViewModels.UserLoginViewModel
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewBag.Title = "Panel Logowania";
}

<div class="main-header user-login-panel">

    <div class="main-header">
        <div class="txt-header-simple">
            <h1>ZALOGUJ SIĘ</h1>
        </div>
        @using (Html.BeginForm("Login", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
    <div class="form form-simple form-login">
        <div class="desktop-txt">
            <h1>ZALOGUJ SIĘ</h1>
        </div>
        @if (ViewBag.Message != null)
        {
            <span class="text-error">@ViewBag.Message</span>
        }
        @Html.ValidationMessageFor(m => m.EmailOrLogin, "", new { @class = "text-error" })
        <div class="row">
            @Html.LabelFor(m => m.EmailOrLogin)
            @Html.TextBoxFor(m => m.EmailOrLogin, "", new { @class = "input-header", @placeholder = "Email lub login" })
        </div>
        @Html.ValidationMessageFor(m => m.PasswordHash, "", new { @class = "text-error" })
        <div class="row">
            @Html.LabelFor(m => m.PasswordHash)
            @Html.PasswordFor(m => m.PasswordHash, new { @class = "input-header", @placeholder = "Hasło" })
        </div>
        <div class="row-login">
            <a href="@Url.Action("RemindPassword","User")"><p>Zapomniałeś hasła?</p></a>
            <button class="btn-header">Zaloguj</button>
        </div>
    </div>
        }
    </div>
</div>