@model RoomMate.Entities.UsersViewModels.UserRegistrationViewModel
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewBag.Title = "Panel rejestracji";
}

    <div class="main-header user-login-panel">
        <div class="txt-header-simple">
            <h1>REJESTRACJA</h1>
        </div>

        @if (ViewBag.Message != null)
        {
            <div class="form form-simple">
                <div class="row">
                    <div class="desktop-txt">
                        <h1>Sukces!</h1>
                    </div>
                    @ViewBag.Message
                </div>
            </div>
        }
        else
        {
            using (Html.BeginForm("Registration", "User", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
    <div class="form form-simple">
        <div class="desktop-txt">
            <h1>REJESTRACJA</h1>
        </div>
        <div class="text-error">
            @if (ViewBag.Error != null)
            {
                <span class="text-error">@ViewBag.Error</span>
            }
        </div>
        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-error" })
        <div class="row">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, "", new { @class = "input-header", @placeholder = "Imię" })
        </div>
        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-error" })
        <div class="row">
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, "", new { @class = "input-header", @placeholder = "Nazwisko" })
        </div>
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-error" })
        <div class="row">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, "", new { @class = "input-header", @placeholder = "Email" })
        </div>
        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-error" })
        <div class="row">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, "", new { @class = "input-header", @placeholder = "Login" })
        </div>
        @Html.ValidationMessageFor(m => m.PasswordHash, "", new { @class = "text-error" })
        <div class="row">
            @Html.LabelFor(m => m.PasswordHash)
            @Html.PasswordFor(m => m.PasswordHash, new { @class = "input-header", @placeholder = "Hasło" })
        </div>
        <div class="row">
            <button class="btn-header">Wyślij</button>
        </div>
    </div>

            }
        }
    </div>