@model RoomMate.Entities.Users.User
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewBag.Title = "Zresetuj hasło";
}

<div class="main-header">

    <div class="main-header user-login-panel">
        @if (ViewBag.RestPasswordCodeStatus == true)
        {
            <div class="txt-header-simple">
                <h1>ZRESETUJ HASŁO</h1>
            </div>
            <div class="form form-simple">
                <div class="desktop-txt">
                    <h1>ZRESETUJ HASŁO</h1>
                </div>
                @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.UserID, htmlAttributes: new { @Value = ViewBag.UserID })

                    @Html.AntiForgeryToken()
                    <p>
                        Wpisz nowe hasło. Pamiętaj, że hasło musi mieć minimum 8 znaków.
                    </p>
                    <span class="text-error">@ViewBag.Error</span>
                    <div class="row">
                        @Html.PasswordFor(m => m.PasswordHash, new { @class = "input-header", @placeholder = "Nowe hasło" })
                    </div>
                    <div class="row">
                        <input type="submit" name="submit" class="btn-header" value="Zresetuj hasło" />
                    </div>
                }
            </div>
                }
                else
                {
                <div class="form form-simple">
                    <div class="desktop-txt">
                        @if(ViewBag.RestPasswordCodeStatus == false)
                        {
                        <h1>Coś poszło nie tak!</h1>
                        }
                        else{
                        <h1>Sukces!</h1>
                        }
                    </div>
                    <div class="row">
                        <p>@ViewBag.Message</p>
                    </div>
                </div>
                }
            </div>
        </div>