@model RoomMate.Entities.Bookings.Booking

@{
    ViewBag.Title = "Szczegóły rezerwacji";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="form form-simple">
    <div class="row">
        <div class="desktop-txt">
            <h1>Podsumowanie rezerwacji:</h1>
        </div>
        <div>
            <p>Nazwa lokalu: @Model.Room.Name</p>
            <p>Adres:</p>
            <p>Miasto: @Model.Room.Address.City</p>
            <p>Ulica: @Model.Room.Address.Street</p>
            <p>Mieszkanie: @Model.Room.Address.Flat</p>
            <p>Kod pocztowy: @Model.Room.Address.PostCode</p>
        </div>
        <div>
            <p>Zameldowanie: @Model.InDate.ToString("dd MM yyyy")</p>
            <p>Wymeldowanie: @Model.OutDate.ToString("dd MM yyyy")</p>
            <p>Ilość gości:  @Model.NumberOfGuests</p>
            <p>Do zapłaty:   @Model.TotalPrice</p>
        </div>
    </div>
</div>