@model RoomMate.Entities.HomeViewModels.HomeViewModel

@{
    ViewBag.Title = "Strona główna";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="img-tablet-desktop">
    <div class="main-header">
        <div class="txt-header">
            <h3>- Zarezerwuj nocleg już dziś!</h3>
            <h1>Znajdź bądź wynajmij pokój</h1>
        </div>
        <div class="form home-page">

            <div class="row">
            </div>
            <div class="calendar-flex">
                <div class="row row-flex">
                </div>
                <div class="row row-flex">
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row">
                <button class="btn-header">Wyszukaj</button>
            </div>
        </div>
    </div>
</div>

<section class="room-offers">
    <h3>Znajdź pokoje na całym świecie!</h3>
    <div class="flex-rooms">
        @foreach (var room in Model.randomRooms)
        {
            <a href="@Url.Action("Room", "Home", new { id = room.RoomID })">
                <div class="room">
                    <div class="room-img">
                        @{ var roomImage = Model.randomRoomsImages.Where(x => x.Room.RoomID == room.RoomID).FirstOrDefault(); }
                        <img src="@Url.Content(roomImage.Path)">
                    </div>
                    <div class="room-dsc">
                        <h4>@Html.DisplayFor(m => room.Name)</h4>
                        <p> @Html.DisplayFor(m => room.Address.City)</p>
                    </div>
                </div>
            </a>
        }
        @if (Model.firstCityRandomRooms.Count >= 4)
        {
            <!--first city-->
            <div class="city">
                <div class="city-img">
                </div>
                <div class="city-dsc">
                    <p>- Zarezerwuj nocleg już dziś!</p>
                    <h4>@Model.firstCityRandomRooms.First().Address.City stoi otworem!</h4>
                </div>
            </div>
            foreach (var room in Model.firstCityRandomRooms)
            {
                <a href="@Url.Action("Room", "Home", new { id = room.RoomID })">
                    <div class="room">
                        <div class="room-img">
                            @{ var roomImage = Model.randomRoomsImages.Where(x => x.Room.RoomID == room.RoomID).FirstOrDefault(); }
                            <img src="@Url.Content(roomImage.Path)">
                        </div>
                        <div class="room-dsc">
                            <h4>@Html.DisplayFor(modelItem => room.Name)</h4>
                            <p> @Html.DisplayFor(modelItem => room.Address.City)<p>
                        </div>
                    </div>
                </a>
            }
        }
        @if (Model.secondCityRandomRooms.Count >= 4)
        {
            <!--second city-->
            <div class="city">
                <div class="city-img-second">
                </div>
                <div class="city-dsc">
                    <p>- Zarezerwuj nocleg już dziś!</p>
                    <h4>@Model.secondCityRandomRooms.First().Address.City stoi otworem!</h4>
                </div>
            </div>
            foreach (var room in Model.secondCityRandomRooms)
            {
                <a href="@Url.Action("Room", "Home", new { id = room.RoomID })">
                    <div class="room">
                        <div class="room-img">
                            @{var roomImage = Model.randomRoomsImages.Where(x => x.Room.RoomID == room.RoomID).FirstOrDefault(); }
                            <img src="@Url.Content(roomImage.Path)">
                        </div>
                        <div class="room-dsc">
                            <h4>@Html.DisplayFor(modelItem => room.Name)</h4>
                            <p> @Html.DisplayFor(modelItem => room.Address.City)<p>
                        </div>
                    </div>
                </a>
            }
        }
        </div>
</section>