<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RoomMate</title>
    @Styles.Render("~/Content/Css/style.css")
    <!--inculding icons-->
    <script src="https://kit.fontawesome.com/b1173e0201.js"></script>
    <!--inculding font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <!--including jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--including datepicker-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


</head>

<body>
    <div class="all">
        <section class="header-container-simple">
            <div class="header header-white">
                <p class="logo">ROOM<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MATE</p>

                <div class="nav-user nav-user-user">
                    <div class="navbar">
                        <i class="far fa-user"></i>
                        @if (Session["UserID"] != null)
                        {
                            <a href="@Url.Action("Dashboard", "UserProfile")">Profil</a>
                            <a href="@Url.Action("Logout","User")">Wyloguj się</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Registration", "User")">Zarejestruj się</a>
                            <a href="@Url.Action("Login", "User")">Zaloguj się</a>
                        }
                    </div>
                    <div id="rwdNavbar" class="navbarResponsive">
                        <i onclick="closeNavbar()" id="close" class="fas fa-times"></i>
                        <ul class="ul-rwd">
                            @if (Session["UserID"] != null)
                            {
                                <li><a href="@Url.Action("Dashboard", "UserProfile")">Profil</a></li>
                                <li><a href="@Url.Action("Logout","User")">Wyloguj się</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("Registration", "User")">Zarejestruj się</a></li>
                                <li><a href="@Url.Action("Login", "User")">Zaloguj się</a></li>
                            }
                        </ul>
                    </div>
                    <i id="hamburger" onclick="openNavbar()" class="fas fa-bars"></i>
                </div>
            </div>
            @RenderBody()
        </section>
    </div>
</body>
</html>

<script>
    function openNavbar(){
        document.getElementById('rwdNavbar').style.width = "100%";
    }
    function closeNavbar(){
        document.getElementById('rwdNavbar').style.width = "0";
    }
</script>